@import "../config/_base-import.scss";

.page-header {

  &__constraint {
    padding: 15px;
  }

  &__logo-con {
    text-align: center;
    margin: 0;
  }

  &__logo-link {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 0;
  }

  &__logo {
    width: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  &__logo-text {
    display: inline-block;
    font-size: 1.675rem;
    vertical-align: middle;
    width: 175px;
    line-height: .875;
    margin: .1em 0 0 5px;
    font-weight: 400;
  }

  &__nav-toggle {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: $color-tertiary;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    z-index: 9;
  }

  &__toggle-bar {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: transform .3s ease;

    &:first-of-type {
      transform: translate(-50%, -50%) translateY(-8px);
    }

    &:last-of-type {
      transform: translate(-50%, -50%) translateY(8px);
    }

    &.is-open {
      margin: 0;

      &:nth-of-type(-n+2) {
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &:nth-last-of-type(-n+2) {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $color-secondary;
    z-index: 8;
    visibility: hidden;
    opacity: 0;
    transform: translateY(50px);

    transition: opacity .25s ease, visibility .25s ease, transform .25s ease;

    &.is-open {
      transform: none;
      opacity: 1;
      visibility: visible;
    }
  }

  &__menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &__menu-item {
    flex: 0 0 50px;
    margin: 0 0 5px;
  }

  &__menu-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
    background: $color-brand;
  }
}
