@import "../config/_base-import.scss";

.what-form {

  &__label {
    display: block;
    font-family: $font-headings;
    font-size: pxToRem(23);
    font-weight: normal;
    text-align: left;
    margin: .5em 0 .25em;
    @include bp-tablet() {
      font-size: pxToRem(26);
    }
  }

  &__text-input {
    display: block;
    width: 100%;
    max-width: 670px;
    border-radius: 4px;
    border: 1px solid #fff;
    background: #fff;
    font-size: pxToRem(16);
    padding: 15px 20px;
    transition: border .25s ease;
    color: $color-grey-dark;
    -webkit-appearance: none;

    &:focus {
      outline: 0;
      border: 1px solid $color-secondary-dark;
    }

    @include bp-tablet() {
      font-size: pxToRem(18);
    }
  }

  &__submit {
    margin: 30px 0 0;
  }

}