@import "../config/_base-import.scss";

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-base;
  font-size: 100%;
}


// Base Styles

figure {
  margin: 30px 0;

  &:after {
    display: table;
    content: '';
    clear: both;
  }

  img {
    @include bp-desktop() {
      max-width: 670px;
      float: left;
      margin-right: 30px;
    }
  }
}

figcaption {
  color: $color-secondary-dark;
  font-size: pxToRem(16);
  margin: 10px 0 0;
  line-height: 1.4;

  @include bp-tablet() {
    font-size: pxToRem(18);
    margin: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5 {
  font-family: $font-headings;
  line-height: 1;
}

.page-wrapper {
  background: $color-secondary;
}

section {
  h1 {
    font-size: pxToRem(30);
    font-weight: normal;
    text-align: center;
    margin: 0 0 .67em;
    @include bp-tablet() {
      font-size: pxToRem(42);
    }
  }

  h2 {
    font-size: pxToRem(26);
    font-weight: normal;
    text-align: center;
    margin: 0 0 .67em;
    @include bp-tablet() {
      font-size: pxToRem(30);
    }
  }
  h3 {
    font-size: pxToRem(23);
    font-weight: normal;
    text-align: center;
    margin: 0 0 .67em;
    @include bp-tablet() {
      font-size: pxToRem(26);
    }
  }
  h4 {
    font-size: pxToRem(20);
    font-weight: normal;
    text-align: center;
    margin: 0 0 .67em;
    @include bp-tablet() {
      font-size: pxToRem(23);
    }
  }
  h5 {
    letter-spacing: 2px;
    font-size: pxToRem(16);
    font-weight: normal;
    text-align: center;
    margin: 0 0 .67em;
    @include bp-tablet() {
      font-size: pxToRem(20);
    }
  }

  h2, h3, h4, h5 {
    @include bp-tablet() {
      text-align: left;
    }
  }

  p {
    font-size: pxToRem(16);
    margin: 1.33em 0;
    line-height: 1.4;
    @include bp-tablet() {
      font-size: pxToRem(20);
    }
  }
}

.width-constrained {
  max-width: $constraint-width;
  margin: 0 auto;
  padding: 30px;
  @include bp-tablet() {
    padding: 45px;
  }
  @include bp-desktop() {
    padding: 60px;
  }
}

// Colors

.is- {
  &black {
    background-color: $color-black;
  }
  &brand {
    background-color: $color-brand;
  }
  &tertiary {
    background-color: $color-tertiary;
  }
}


.screen-reader-only {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


@import "../partials/skip-to-content";
@import "../partials/buttons";
@import "../partials/page-header";
@import "../partials/hero-banner";
@import "../partials/interior-banner";
@import "../partials/news";
@import "../partials/side-menu";
@import "../partials/standard-content";
@import "../partials/email-signup";
@import "../partials/page-footer";
@import "../partials/what-form";