@import "../config/_base-import.scss";

* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 100%;
}


// Base Styles

h1, h2, h3 {
  font-family: "Shrikhand", cursive, sans-serif;
  line-height: 1;
}

.page-wrapper {
  background: $color-secondary;
}

section {
  h1 {
    font-size: pxToRem(28);
    font-weight: normal;
    text-align: center;
    margin: 0 0 .67em;
    @include bp-tablet() {
      font-size: pxToRem(42);
    }
  }
}

.width-constrained {
  max-width: $constraint-width;
  margin: 0 auto;
  padding: 30px;
  @include bp-tablet() {
    padding: 45px;
  }
  @include bp-desktop() {
    padding: 60px;
  }
}

// Colors

.is- {
  &black {
    background-color: $color-black;
  }
  &brand {
    background-color: $color-brand;
  }
  &tertiary {
    background-color: $color-tertiary;
  }
}


.screen-reader-only {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


@import "../partials/skip-to-content";
@import "../partials/buttons";
@import "../partials/page-header";
@import "../partials/hero-banner";
@import "../partials/news";
@import "../partials/email-signup";
@import "../partials/page-footer";